/* Variable - Background Color */
$background-color:#000;

/* Variable - Fonts */
$font-size:16px;
$font-color:#fff;
$font-family:'OpenSans', sans-serif;
$line-height:25px;

/* Variable - Transition Time for abstract*/
$transition-time:0.5s;

/* Variable - Responsive Size */
$tablet-width:600px;
$desktop-width:1000px;
